scipy~=1.8.0            	  # Scientific library
matplotlib~=3.5.2       	  # Plotting library
h5py~=3.6.0             	  # Data storage format
pandas~=1.4.2           	  # Dataframe library
python-dotenv~=0.20.0   	  # Configuration library
hydra-core~=1.2.0       	  # Configuration library
hydra-joblib-launcher~=1.2.0      # parallel jobs locally
hydra-submitit-launcher~=1.1.6    # parallel jobs on HPC cluster
omegaconf~=2.2.1       	 	  # Configuration library
deepxde~=1.1.3          	  # Physics-informed ML library
pyro-ppl			  # Probabilistic programming library for the inverse problems
tqdm~=4.64.0