defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null
  run:
    dir: .

args:
  type: 'advection'  # 'advection'/'ReacDiff'/'burgers'/'CFD'
  dim: 1
  bd: 'periodic'
  nbatch: 1000
  savedir: './save/CFD/'