defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null
  run:
    dir: .
    
args:
    model_names: [FNO, Unet]
    base_path  : /home/alesiani/python/pde_benchmark/pdebench/data/
    inverse_model_type  : InitialConditionInterp
    filenames  : [/1D/Advection/Train/1D_Advection_Sols_beta4.0.hdf5,/1D/Burgers/Train/1D_Burgers_Sols_Nu1.0.hdf5, /1D/ReactionDiffusion/Train/ReacDiff_Nu1.0_Rho2.0.hdf5, /1D/CFD/Train/1D_CFD_Shock_trans_Train.hdf5]
    shortfilenames  : [Advection, Burgers, ReacDiff, CFD]
    results_values  : [ mseloss_pred_u0 ]
    result_filename : csv/results_inverse.csv

